html {
    background-color: black;
}


#jogo {}

#tabuleiro {
    display: block;
    border: 1px solid green;
    margin-right: 10px;
    float: left;
}

#proximaPeca {
    border: 1px solid green;
}