html {
    background-color: black;
}


#jogo {
    display: block;
    width: 300px;
    margin: 0 auto 0 auto;
}

#tabuleiro {
    display: block;
    border: 1px solid green;
    margin-right: 10px;
    float: left;
}

#proximaPeca {
    border: 1px solid green;
}