html {
    background-color: black;
}


.game {
    display: block;
    width: 300px;
    margin: 0 auto 0 auto;
}

#board {
    display: block;
    border: 1px solid green;
    margin-right: 10px;
    float: left;
}

#nextPiece {
    border: 1px solid green;
}